@font-face {
    font-family: "zurchc";
    src: url("fonts/ZURCHC.TTF");
}
@font-face {
    font-family: "zurchc";
    src: url("fonts/ZURCHC.eot");
}
@font-face {
    font-family: "zurchc";
    src: url("fonts/ZURCHC.woff");
}
/*
@font-face {
    font-family: "zurchci";
    src: url("fonts/ZURCHCI.TTF");
}
@font-face {
    font-family: "zurchc";
    src: url("fonts/ZURCHCI.eot");
}
@font-face {
    font-family: "zurchcxc";
    src: url("fonts/ZURCHXC.TTF");
}
@font-face {
    font-family: "zurchxc";
    src: url("fonts/ZURCHXC.eot");
}
*/
@font-face {
    font-family: "zurchlxc";
    src: url("fonts/ZURCHLXC.TTF");
}
@font-face {
    font-family: "zurchlxc";
    src: url("fonts/ZURCHLXC.eot");
}
@font-face {
    font-family: "gabriel-weiss-friends";
    src: url("fonts/gabriel-weiss-friends-font.ttf");
}
@font-face {
    font-family: "gabriel-weiss-friends";
    src: url("fonts/gabriel-weiss-friends-font.eot");
}
@font-face {
    font-family: "gabriel-weiss-friends";
    src: url("fonts/gabriel-weiss-friends-font.woff");
}
